.phones_wrapper {
    padding: 50px;

    .category {
        .accordion {
            .accordion_item {
                border-bottom: 1px solid black;
                padding: 5px;

                .accordion_title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0px;
                    cursor: pointer;

                    .brend {}

                    .plus {}

                    .minus {}
                }

                .accordion_content {
                    max-height: 0px;
                    transition: all 0.5s;
                    overflow: hidden;

                    .apple_check {
                        align-items: center;
                        display: flex;
                        gap: 15px;

                        #apple {
                            width: 19px;
                            height: 19px;
                            accent-color: green;
                        }

                        .apple_text {}
                    }

                    .samsung_check {
                        align-items: center;

                        display: flex;
                        gap: 15px;

                        #samsung {
                            width: 19px;
                            height: 19px;
                            accent-color: green;
                        }

                        .samsung_text {}
                    }

                    .xiaomi_check {
                        align-items: center;

                        display: flex;
                        gap: 15px;

                        #xiaomi {
                            width: 19px;
                            height: 19px;
                            accent-color: green;
                        }

                        .xiaomi_text {}
                    }

                    .expensive_item {
                        align-items: center;

                        display: flex;
                        gap: 15px;

                        #expensive {
                            width: 19px;
                            height: 19px;
                            accent-color: green;
                        }

                        .expensive {}
                    }
                }

                .accordion_content.active {
                    max-height: 100px;
                    transition: all 0.5s;
                }
            }
        }
    }
}


.phone_count {

    font-size: 18px;
    font-weight: 600;
}

.products {
    display: flex;
    justify-content: center;
    align-items: stretch !important;
    padding: 40px;
    flex-wrap: wrap;
    gap: 27px;

    .card {
        padding: 22px;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(164, 164, 164, 0.08);
        border-radius: 4px;
        width: 270px !important;

        .card_image {
            display: flex;
            justify-content: center;

            img {
                width: 100%;
            }
        }

        .item_info {
            .name {
                color: #333333;
                font-weight: 700;
            }

            .memory {
                font-weight: 700;
            }
        }

        .item_color {
            .color {
                color: #333333;
                font-weight: 700;
            }
        }

        .item_price {
            display: flex;
            justify-content: space-between;

            .price {
                color: #333333;
                font-weight: 600;
            }

            .shopping {
                cursor: pointer;
                font-size: 18px;
                margin-left: 10px;
                margin-top: 3px;
            }
        }
    }
}

.paginate_wrapper {
    display: flex;
    justify-content: center;
    gap: 11px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 80px;

    .paginate_list {
        .paginate_link {
            text-decoration: none;
            color: black;
            padding: 3px 9px;
            display: inline-block;

        }
    }

    .break {
        .paginate_link {
            text-decoration: none;
            color: black;
        }
    }

    .paginate_list.paginate_active {
        background-color: #78e211;
        border-radius: 4px;

        .paginate_link {
            color: #fff;
        }
    }
}

@media screen and (max-width : 576px) {
    .products {
        padding: 0px !important;
    }
}

@media screen and (max-width : 281px) {
    .products {
        padding: 0px !important;
        width: 222px;
        margin-left: -33px;
    }
}